<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/header.ejs") %> 
</head>
<body>
    <% let statusCode = 404%>
    <h1>Sayfa bulunamadi....</h1>
    <p><%=statusCode%></p>
</body>
</html>