<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("./partials/header.ejs") %>
  </head>
  <body>
    <%-include("./partials/nav.ejs") %>
    <section>
        <h1>Hakkimizda...</h1>
        <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem commodi
        veniam aperiam illum recusandae enim inventore. Voluptas quisquam
        debitis velit facilis tempore laborum omnis fuga, quaerat natus, dolores
        officia inventore?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem commodi
        veniam aperiam illum recusandae enim inventore. Voluptas quisquam
        debitis velit facilis tempore laborum omnis fuga, quaerat natus, dolores
        officia inventore?
      </p>
    </section>
  </body>
</html>
