<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/header.ejs") %> 
</head>
<body>
    <%-include("./partials/nav.ejs") %> 
    <section>
        <a href="/admin/add">Yazi Ekle</a>
        <h1>Yazilar</h1>
        <ul>
            <% blogs.map((el,i,arr) => { %> 
                <br>
                    <p><%=el.title%></p>
                    <a class="del" data-doc="<%=el._id%> ">Yazi Sil</a>
                </li>
            <%  })%> 
        </ul>
    </section>
    <script>
        const del = document.guerySelector("a.del");

        del.addEventListener("click", (e)=>{
            const endPoint = `/admin/delete/${dataset.doc}`

            fetch(endPoint, {
                method: "DELETE",
            }).then((result) => {
                result.json()
            }).then((data) => {
                window.location.href = data.link
            }).catch((err) => {
                
            });
        })
    </script>
</body>
</html>