<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/header.ejs") %> 
<body>
    <%-include("./partials/nav.ejs") %>
    <section>
        <form action="" method="post">
            <input type="text" name="username" placeholder="kullanici adi" required>
            <input type="passwor" name="password" placeholder="parola" required>
            <input type="submit" value="Kayit">
        </form>
    </section> 
</body>
</html>