<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />

    <title><%- title %></title>
  </head>

  <body>
    <div class="container login-container">
      <div class="card">
        <sidebar><a href="/">Login</a></sidebar>
        <%- include("../partials/header") %>
        <div class="card-content"><%- body %></div>
        <%- include("../partials/footer") %>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
