body { 
    background-color: aqua;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid #000;
    border-style: dotted;
    border-color: blueviolet;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin-right: 30px;
}

section {
    max-width: 800px;
    margin: 40px auto;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 40px auto;    
}

form input {
    margin-top: 10px;
    padding: 5px 10px;
}

a{
    color: black;
}

/*yazilari secme isleminde olusacak renk */
a::selection{
    background: red;
}

::selection{
    color: black;
    background: yellow;
}
